.doubleLeftIcon {
  position: absolute;
  top: 927px;
  left: 93px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.bussinessNameChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  background-color: #eae576;
  width: 633px;
  height: 63px;
}
.tutumoLiquorStore {
  position: absolute;
  top: 5px;
  left: 33px;
}
.bussinessName {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 633px;
  height: 63px;
}
.loginInformationChild {
  position: absolute;
  top: 0px;
  left: 161px;
  border-radius: 50%;
  background-color: #a529a8;
  width: 63px;
  height: 63px;
}
.devlesuuda {
  position: absolute;
  top: 5px;
  left: 35px;
}
.admingmailcom {
  position: absolute;
  top: 31px;
  left: 0px;
  font-size: var(--font-size-xl);
}
.loginInformation {
  position: absolute;
  top: 0px;
  left: 943px;
  width: 224px;
  height: 63px;
  font-size: 25px;
  font-family: var(--font-average-sans);
}
.bussinessNameParent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1167px;
  height: 63px;
}
.header {
  position: absolute;
  top: 0px;
  left: 273px;
  width: 1167px;
  height: 63px;
}
.lastSixMonthsChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #bbe4ea;
  width: 270px;
  height: 120px;
}
.view {
  position: absolute;
  top: 92px;
  left: 118px;
}
.div {
  position: absolute;
  top: 39px;
  left: 61px;
  font-size: var(--font-size-lg);
}
.lastSixMonths1 {
  position: absolute;
  top: 13px;
  left: 58px;
  font-size: var(--font-size-xl);
}
.lastSixMonths {
  position: absolute;
  top: 1px;
  left: 866px;
  width: 270px;
  height: 120px;
  font-size: var(--font-size-mid);
}
.dailySalesChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #a9d288;
  width: 270px;
  height: 120px;
}
.view1 {
  position: absolute;
  top: 89px;
  left: 110px;
}
.ksh1532000 {
  position: absolute;
  top: 40px;
  left: 63px;
  font-size: var(--font-size-lg);
}
.dailySales1 {
  position: absolute;
  top: 18px;
  left: 61px;
  font-size: var(--font-size-xl);
}
.todayIcon {
  position: absolute;
  top: 29px;
  left: 13px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.dailySales {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 270px;
  height: 120px;
  font-size: var(--font-size-mid);
}
.monthlySalesChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #f5f5d6;
  width: 270px;
  height: 120px;
}
.view2 {
  position: absolute;
  top: 91px;
  left: 117px;
}
.div1 {
  position: absolute;
  top: 41px;
  left: 60px;
  font-size: var(--font-size-lg);
}
.monthlySales1 {
  position: absolute;
  top: 15px;
  left: 56px;
  font-size: var(--font-size-xl);
}
.monthlySales {
  position: absolute;
  top: 0px;
  left: 578px;
  width: 270px;
  height: 120px;
  font-size: var(--font-size-mid);
}
.usersChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-gainsboro);
  width: 342px;
  height: 74px;
}
.users1 {
  position: absolute;
  top: 3px;
  left: 15px;
}
.div2 {
  position: absolute;
  top: 39px;
  left: 16px;
  font-size: var(--font-size-lg);
}
.users {
  position: absolute;
  top: 148px;
  left: 800px;
  width: 342px;
  height: 74px;
}
.div3 {
  position: absolute;
  top: 41px;
  left: 11px;
}
.invoices1 {
  position: absolute;
  top: 7px;
  left: 11px;
  font-size: var(--font-size-xl);
}
.invoices {
  position: absolute;
  top: 146px;
  left: 4px;
  width: 342px;
  height: 74px;
  font-size: var(--font-size-lg);
}
.suppliers1 {
  position: absolute;
  top: 5px;
  left: 13px;
}
.div4 {
  position: absolute;
  top: 43px;
  left: 16px;
  font-size: var(--font-size-lg);
}
.suppliers {
  position: absolute;
  top: 146px;
  left: 401px;
  width: 342px;
  height: 74px;
}
.weeklySalesChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #dfecc9;
  width: 270px;
  height: 120px;
}
.ksh10020500 {
  position: absolute;
  top: 46px;
  left: 56px;
}
.weeklySales1 {
  position: absolute;
  top: 18px;
  left: 54px;
  font-size: var(--font-size-xl);
}
.view3 {
  position: absolute;
  top: 92px;
  left: 113px;
  font-size: var(--font-size-mid);
}
.weekViewIcon {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.weeklySales {
  position: absolute;
  top: 1px;
  left: 290px;
  width: 270px;
  height: 120px;
  font-size: var(--font-size-lg);
}
.div5 {
  position: absolute;
  top: 40px;
  left: 18px;
}
.availableProducts1 {
  position: absolute;
  top: 4px;
  left: 14px;
  font-size: var(--font-size-xl);
}
.liquorShelfIcon {
  position: absolute;
  top: 21px;
  left: 301px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.availableProducts {
  position: absolute;
  top: 277px;
  left: 400px;
  width: 342px;
  height: 74px;
  font-size: var(--font-size-lg);
}
.div6 {
  position: absolute;
  top: 48px;
  left: 20px;
}
.stores1 {
  position: absolute;
  top: 8px;
  left: 15px;
}
.groceryStoreIcon {
  position: absolute;
  top: 18px;
  left: 298px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.stores {
  position: absolute;
  top: 273px;
  left: 0px;
  width: 342px;
  height: 74px;
}
.div7 {
  position: absolute;
  top: 44px;
  left: 15px;
  font-size: var(--font-size-lg);
}
.expiredIcon {
  position: absolute;
  top: 14px;
  left: 296px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.expiredProducts {
  position: absolute;
  top: 273px;
  left: 800px;
  width: 342px;
  height: 74px;
}
.adminDashboard {
  position: absolute;
  top: 105px;
  left: 271px;
  width: 1142px;
  height: 351px;
  font-size: var(--font-size-xl);
  font-family: var(--font-abeezee);
}
.adminSidebarChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 30px;
  background-color: rgba(44, 189, 67, 0.79);
  width: 207px;
  height: 986px;
}
.refunds {
  position: absolute;
  top: 599px;
  left: 54px;
}
.refundIcon {
  position: absolute;
  top: 599px;
  left: 11px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.categories {
  position: absolute;
  top: 322px;
  left: 53px;
}
.logout {
  position: absolute;
  top: 705px;
  left: 53px;
}
.expired {
  position: absolute;
  top: 650px;
  left: 54px;
}
.credits {
  position: absolute;
  top: 547px;
  left: 54px;
}
.suppliers2 {
  position: absolute;
  top: 262px;
  left: 53px;
}
.products {
  position: absolute;
  top: 380px;
  left: 53px;
}
.orders {
  position: absolute;
  top: 441px;
  left: 53px;
}
.reports {
  position: absolute;
  top: 500px;
  left: 54px;
}
.stores2 {
  position: absolute;
  top: 147px;
  left: 53px;
}
.users2 {
  position: absolute;
  top: 198px;
  left: 53px;
}
.posSystem {
  position: absolute;
  top: 28px;
  left: 26px;
}
.dashboard {
  position: absolute;
  top: 98px;
  left: 53px;
}
.homeFillIcon {
  position: absolute;
  top: 97px;
  left: 9px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.groceryStoreIcon1 {
  position: absolute;
  top: 147px;
  left: 9px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.usersIcon {
  position: absolute;
  top: 200px;
  left: 9px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.liquorShelfIcon1 {
  position: absolute;
  top: 379px;
  left: 9px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.lineChartIcon {
  position: absolute;
  top: 499px;
  left: 9px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.debtIcon {
  position: absolute;
  top: 549px;
  left: 9px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.logoutIcon {
  position: absolute;
  top: 704px;
  left: 9px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.supplierIcon {
  position: absolute;
  top: 262px;
  left: 9px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.categoryIcon {
  position: absolute;
  top: 321px;
  left: 9px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.adminSidebar {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 207px;
  height: 986px;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-mochiy-pop-one);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: var(--color-black);
  font-family: var(--font-sofadi-one);
}
